/*to create your background image you have to type "../ " before the location of image in order to navigate back to their shared directory*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

footer,
header {
	grid-column: 1 / -1;
	padding: 2rem
}

footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}
/*https://www.youtube.com/watch?v=RkrTGQsv14k	*/
img {
	width: 100%
}

nav ul {
	display: flex;
	justify-content: space-around;
	margin-top: 2px;
	padding-top: 2px;
	align-items:center;
	text-decoration: none;

}
	nav ul li {
		margin-right: 5px;
		text-decoration: none;
		color:white;
	}

ol, ul {
	list-style-type: none;
}
h1 {
	padding-top: 2rem;
	padding-bottom: 0rem;

}
h1, h2, h3 {
	text-align: center;
	color:white;
}


.my-projects {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr 1fr auto;
	grid-gap: 15px;
	margin: 2rem 2rem;
	grid-template-areas: 
	"portfolio-header portfolio-header portfolio-header"
	"ft-header vp-header review-header"
	"ft-image vpets reviews-project"
	"ft-description vp-description r-description"
}
	
.portfolio-header {
	grid-area: portfolio-header;
	max-height: 4rem
}
.ft-header {
	grid-area: ft-header;
}
.ft-image {
	grid-area :ft-image;
}
.ft-description {
	grid-area: ft-description;
}

.vp-header {
	grid-area: vp-header;
}
.vpets {
	grid-area: vpets ;
}
.vp-description {
	grid-area: vp-description;
}
.review-header {
	grid-area: review-header;
}
.reviews-project {
	grid-area: reviews-project;
}
.r-description {
	grid-area: r-description;
}
.skill-container ul {
	display: flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	margin: 3rem;
}
.about-container {
	display:grid;
	grid-template-columns: 1fr;
	margin: 2rem;
	grid-gap: 15px

}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.github {
	background-color: white;

}