* {
	
	font-family: 'Heebo', sans-serif;
}
body {
	background-color: black;
}

.container {
	background-color: #000D32;
	padding-left: 3rem;
	padding-bottom: 3rem;
	padding-right: 3rem;
	padding-top: .5rem;
}
a {
	text-decoration: none
	color: white;
   }
   a:visited {
   	text-decoration: none;
   	color:white;
   }


li {
	color:white;
}

p {
	color:white;
}